.process-panel
{
  padding-top:    40px;
  padding-bottom: 40px;
}

.process-intro
{
  margin-bottom: 60px;
  text-align:    center;
}

.process-intro__title
{
  text-transform: uppercase;
  font-size:      36px;
  line-height:    1.2;
}

.process-intro__copy
{
  font-size:   14px;
  color:       #86878b;
  line-height: 1.2;
}

.process-items
{
  display:      flex;
  margin-left:  -15px;
  margin-right: -15px;
}

.process-item
{
  padding:    0 15px;
  width:      33.33%;
  text-align: center;
}

.process-item__icon
{
  width:           70px;
  height:          70px;
  margin:          0 auto;
  border:          2px solid orange;
  border-radius:   50%;
  display:         flex;
  justify-content: center;
  align-items:     center;

  img
  {
    width:  40px;
    height: 40px;
  }
}

.process-item__title
{
  font-size:   20px;
  line-height: 1.2;
  font-weight: 700;
}

.process-item__copy
{
  font-size:   14px;
  color:       #86878b;
  line-height: 1.2;
}