.wrapper
{
  max-width:    500px;
  margin-left:  auto;
  margin-right: auto;
}

.todo-list
{
  list-style:   none;
  padding-left: 0;

  li
  {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    padding:         .5rem 1rem;
    border:          1px solid #ccc;
    border-radius:   5px;

    + li
    {
      margin-top: .5rem;
    }
  }

  input
  {
    margin-right: 1rem;
  }

  button
  {
    background-color: lightgrey;
  }
}

.done
{
  text-decoration: line-through;
}

.form-list
{
  margin-bottom: 1rem;
}